.body {
  background-color:rgb(75, 127, 240);
  min-height: 100vh;
  overflow: auto;
  padding: 2rem 0 2rem 0;
}

h1, h2, p {
  color: white;
}

hr {
  background-color: white;
  margin-top: 0rem !important;
}

.subHeader {
  font-size: 1.5rem;
}

.table {
  margin-top: 1rem;
  background-color: white !important;
}

.hidden {
  display: none;
}

.employeeActions p {
  margin-bottom: 0.25rem;
}

.buttonMarginLeft {
  margin-left: 1rem;
}

.buttonMarginTop {
  margin-top: 0.25rem;
}

.warningMessage {
  margin-top: 1rem;
}

.warningMessage p {
  color: black;
}