.body {
  background-color:rgb(75, 127, 240);
  min-height: 100vh;
  overflow: auto;
  padding-bottom: 2rem;
}

h1, h2, p {
  color: white;
}

hr {
  background-color: white;
}

.subHeader {
  font-size: 1.5rem;
}

.table {
  margin-top: 1rem;
  background-color: white !important;
}

.hidden {
  display: none;
}

.buttonNav {
  margin-top: 1rem;
}

.employeeActions p {
  margin-bottom: 0%;
}

.buttonSpaced {
  margin-left: 1rem;
}

.confirmDelete {
  margin-top: 1rem;
}

.confirmDelete p {
  color: black;
}